{ % extends "base.html" %}

{ % block body % }
<header>
    <h1>{{ Recipes.title }}</h1>
</header>

<section>
    <h2>Recipe Characteristics:</h2>
    <ul>
        <li>General description:</li>
            <p>{{ Recipes.description }}</p>
        <li>Number of persons:</li>
            <p><b>{{Recipes.n_person}}</b></p>
        <li>Cooking time estimation: </li>
            <p><b>{{Recipes.cooking_time}}</b></p>
    </ul>
</section>

<section>
    <h2>Ingredients:</h2>
    <ul>
        {% for i in Recipes.quantified_ingredients %}
            <li> {{ i }}</li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>Steps:</h2>
    <ol>
        {% for s in Recipes.steps %}
            <li> {{ s }}</li>
        {% endfor %}
    </ol>
</section>
</body>

{ % endblock % }

